<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quicknote.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickNote">

        <!-- Main notes list activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Quick capture activity - opens directly with keyboard -->
        <activity
            android:name=".QuickCaptureActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickNote.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:launchMode="singleTop">

            <!-- Intent to allow launching from shortcuts/Bixby routines -->
            <intent-filter>
                <action android:name="com.quicknote.app.QUICK_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
